// COLORS

$color-grey: rgba(47, 47, 47, 255);
$color-grey-light1: rgba(86, 94, 102, 255);
$color-grey-light2: #d4dbe0;
$color-grey-light3: #f0f3f5;
$color-grey-light4: #dbdbdb;

$color-grey-dark: #565e66;

$color-blue: #274291;
$color-blue-light: #3082c2;
$color-blue-light-2: #35a8e0;

$color-white: #fff;
$color-black: #000;


$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

// FONT TYPE
$font-hind: 'Hind', sans-serif;
$font-roboto: 'Roboto', sans-serif;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;

$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$gutter-vertical-small: 1rem;
$gutter-horizontal-small: 1rem;