.circle {
    display: block;
    border: .2rem solid $color-grey-light2;
    width: 5.4rem;
    height: 5.4rem;
    margin: 0px 10% 45px 10%;
    border-radius: 100%;
    background-color: white;
    transition: all .3s;
    position: relative;
    

    &__img {
        width: 60%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__text {
        width: 30rem;
        position: absolute;
        font-size: 1.3rem;
        color: $color-grey;
        top: 5.3rem;
        left: 50%;
        transform: translateX(-50%);

        @media screen and (min-width: 600px) {
            font-size: 1.2rem;

            &--top {
                top: -2.2rem;
                left: 50%;
                transform: translateX(-50%);
            }

            &--bottom {
                top: 4.6rem;
                left: 50%;
                transform: translateX(-50%);
            }

            &--right {
                top: 50%;
                padding-left: 3rem;
                transform: translateY(-50%);
                text-align: left;
            }

            &--left {
                top: 50%;
                padding-right: 3rem;
                transform: translate(-100%,-50%);
                text-align: right;
            }
        }
        }
    
    @media screen and (min-width: 600px) {
        width: 4.6rem;
        height: 4.6rem;   
    }
    

    @media (max-width: 900px) {
        &__text {
            width: 15rem;
        }
    }

    &:hover {
        cursor: pointer;
        background-color: $color-grey-light2;
    }
}