.nav-circle {
    margin-top: 3.5rem;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    @media screen and (min-width: 600px) {
        margin-top: 6.5rem;
        display: inline-block;
        border: .2rem solid $color-grey-light3;
        @include on-circle($item-count: 12, $circle-size: 34rem , $item-size: 4.6rem);
      }

    &__img {
        position: absolute;
        width: 80%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        height: auto;
        opacity: 0.35;

        @media screen and (min-width: 600px) {
            opacity: 1;
        }
    }
}